/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  height: 150px;
  margin: 0 auto;
}

section{
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#war {
  /* visibility: hidden; */
}